.question {
  padding: 2rem 1.375rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 0.75rem;

  &__header,
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
  }

  &__navigator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    button {
      width: 1.625rem;
      height: 1.625rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      text-decoration: none;
      vertical-align: middle;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 50%;
      font-size: 1rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      color: $primary;
      box-shadow: 0px 0px 10px 0px #00000040;

      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }

  &__text {
    font-weight: bold;
    margin: 0;
  }

  &__options {
    counter-reset: item;
    list-style-type: none;
    margin: 0;
    padding-left: 2.25rem;

    li {
      position: relative;
      display: block;
      margin-bottom: 1.375rem;
      cursor: pointer;

      span {
        width: 1.125rem;
        height: 1.125rem;
        position: absolute;
        top: 0;
        left: -2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 50%;
        border-color: $gray;
      }

      &:hover span {
        background-color: $primary;
        color: $white;
      }
    }
  }

  &__option--active:before {
    background-color: $primary;
    color: $white;
  }
}
